<% if @season %>

  <% title "Jornada #{@season.number}" %>

  <table>
    <tr>
      <th>Equipo 1</th>
      <th>Equipo 2</th>
    </tr>
    <% @season.matches.each do |match| %>
      <tr>
        <td><%= match.team_1.name %></td>
        <td><%= match.team_2.name %></td>
      </tr>
    <% end %>
  </table>

  <br/>

  <%= link_to "Apostar", "" %>

<% else %>

  <% title "Sin jornadas" %>

  <p>
    Lo sentimos, aún no se ha dado de alta la jornada actual
  </p>

<% end %>
